* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 8%);
  color: white;
  font-family: "Inter", sans-serif;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.card {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 30px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 12%);
  gap: 18px;
}

.card .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  text-align: center;
}

.card .profile .avatar {
  width: 3.5rem;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .profile .name {
  font-size: 18px;
  font-weight: 600;
}

.card .profile .location {
  color: hsl(75, 94%, 57%);
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card .profile .bio {
  font-size: 10px;
  
}



.card .links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.card .links li {
  width: 100%;
}

.card .links li a {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  background: transparent;
  background-color: hsl(0, 0%, 20%);
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 12px 0;
  transition:
  background-color 0.3s ease,
  color 0.3s ease,
  transform 0.15s ease;
  text-decoration: none;

}

.card .links a:hover {
  cursor: pointer;
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
  /* transform: scale(1.05); */
}
.card .links a:active{
  transform: scale(0.98);
}

/* .card .links a:focus {
  cursor: pointer;
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
} */
.card .links a:focus-visible{
  outline: 2px solid hsl(75, 94%, 57%);
  outline-offset: 2px;

  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}

@media (max-width:375px){
  .card{
    width: min(22rem, 90%);
  }
  .card .links a{
    padding: 10px 0;
  }
  .card .links a{
    min-width: 100%;
  }
  .card .profile .name{
    font-size: 16px;
  }
}