* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;

}

:root {
  --color-dark-grey: hsl(0, 0%, 8%);
  --color-grey: hsl(0, 0%, 12%);
  --color-light-grey: hsl(0, 0%, 20%);
  --color-neon-green: hsl(75, 94%, 57%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-grey);
  color: white;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 24rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--color-grey);
  gap: 1.125rem;
}

.card .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  text-align: center;
}

.profile .avatar {
  width: 3.5rem;
  border-radius: 50%;
  margin-block-end: 0.625rem;
}

.profile .name {
  font-size: 1.1rem;
  font-weight: 600;
}

.profile .location {
  color: var(--color-neon-green);
  font-size: 0.7rem;
  font-weight: 600;
  margin-block-end: 0.625rem;
}

.profile .bio {
  font-size: 0.7rem;

}



.card .links {
  list-style: none;
  padding: 0.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.links li {
  width: 100%;
}

li .link-btn {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 700;
  background: transparent;
  background-color: var(--color-light-grey);
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 12px 0;
  transition: background-color 0.2s ease, color 0.2s ease;
  text-decoration: none;

}

.links .link-btn:hover {
  cursor: pointer;
  background-color: var(--color-neon-green);
  color: hsl(0, 0%, 20%);
}

.links .link-btn:active {
  transform: scale(0.98);
}

.links .link-btn:focus-visible {
  outline: 2px solid var(--color-neon-green);
  outline-offset: 2px;

  background-color: var(--color-neon-green);
  color: hsl(0, 0%, 20%);
}

@media (min-width: 24em) {
  .card {
    width: 20rem;
  }

  .links a {
    padding: 10px 0;
    min-width: 100%;
  }

  .profile .name {
    font-size: 1.2rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}