* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;

}

:root {
  --color-dark-grey: hsl(0, 0%, 8%);
  --color-grey: hsl(0, 0%, 12%);
  --color-neon-green: hsl(75, 94%, 57%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-grey);
  color: white;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.card {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--color-grey);
  gap: 18px;
}

.card .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  text-align: center;
}

.card .profile .avatar {
  width: 3.5rem;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .profile .name {
  font-size: 1.2rem;
  font-weight: 600;
}

.card .profile .location {
  color: var(--color-neon-green);
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.card .profile .bio {
  font-size: 0.7rem;

}



.card .links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.card .links li {
  width: 100%;
}

.card .links li a {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 700;
  background: transparent;
  background-color: hsl(0, 0%, 20%);
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 12px 0;
  transition: none;
  text-decoration: none;

}

.card .links a:hover {
  cursor: pointer;
  background-color: var(--color-neon-green);
  color: hsl(0, 0%, 20%);
}

.card .links a:active {
  transform: scale(0.98);
}

.card .links a:focus-visible {
  outline: 2px solid --color-neon-green;
  outline-offset: 2px;

  background-color: var(--color-neon-green);
  color: hsl(0, 0%, 20%);
}

@media (max-width: 23.4375em) {
  .card {
    width: 90vw;
  }

  .card .links a {
    padding: 10px 0;
    min-width: 100%;
  }

  .card .profile .name {
    font-size: 1rem;
  }
}